<h1><%= @plan.title %></h1>

<%= link_to 'タグを追加する', add_tag_plan_path(@plan.id) %>

<p>---------------</p>
<ul>
    <% @plan.tags.each do |plan_tag| %>
        <li>
            <%= link_to plan_tag.title, tag_path(@plan.id) %>
            <%#= simple_format plan_tag.title %>
        </li>
        <%= simple_format plan_tag.body %>
        <a href = " #{plan_tag.url} " Target="_blank" ></a>
        <%= link_to plan_tag.url, plan_tag.url%>
    <% end %>
</ul>