<h1><div class="tagtitle"><%= @plan.title %></div></h1>

<div class="midashi"><%= button_to 'Add Tag', add_tag_plan_path(@plan.id) %></div>


    <% @plan.tags.each do |plan_tag| %>
    
    	<div class="boxtext">
    	    <div class="boxtitle"><%= link_to plan_tag.title, tag_path(@plan.id) %></div>
      	    <p><%= simple_format plan_tag.body %>
              
      			</p>
          <div class="boxtitle2">URL
              <a href = " #{plan_tag.url} " Target="_blank" ></a>
              <%= link_to plan_tag.url, plan_tag.url%>
          </div>
    	</div>
    	
    <% end %>
    
  </div>