<h2>test tag編集フォーム</h2>

<%= form_for @post, url: tag_path(@post) do |f| %>

<p>
    <%= f.text_field :title,placeholder: 'title' %>
</p>

<p>
    <%= f.text_area :body,placeholder: 'body' %>
</p>

<p>
    <%= f.text_field :url,placeholder: 'url' %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>