<h1>Tags</h1>

<%= button_to "new", new_tag_path, :method => :get %>

<ul>
<% @tags.each do |tag| %>
        <li>
                <%= simple_format tag.title %>
                <%= link_to '[Edit]', edit_tag_path(tag), class: 'command' %>
                <%= link_to '[x]',
                        tag_path(tag),
                        method: :delete, 
                        class: 'command',
                        data: {confirm: '削除してもよろしいですか?'}
                %>
        </li>
        
        <%= simple_format tag.body %>
        <a href = " #{tag.url} " Target="_blank" ></a>
        <%= link_to tag.url, tag.url%>
        
<% end %>
</ul>

